/* 登录注册表达样式 */
.forms{
    position: absolute;
    margin:auto;
    left:40vw;
    .form-login{
        width:50vw;
        max-width:400px;
        .tips{
            display: block;
            width:100%;
            height:28px;
            color:red;
            text-align: center;
        }
        input[type="radio"]{
            margin: 0 30px;
        }
        .btn-block{
            width:40%;
            display: inline-block;
        }
        .cancel{
            background:#ccc;
            border-color:#ccc;
            margin-right:10%;
        }
    }
}

/* 登录成功后的用户名显示样式 */
.top-menu li.username .username{
    color:#fff;
    outline: none;
    border:0!important;
    margin: auto 0;
    padding:10px;
    font-weight: bold;
}
.logout{
    margin-left:10px;
}


@media (max-width: 627px){
    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }
}

ul.sidebar-menu li.sub-menu a:focus{
    background: inherit;
}
ul.sidebar-menu li.sub-menu a.active{
    background:#4ECDC4 ;
}